@(pdefs:Seq[models.partdef.PartDefinitionForList])

@main("Part definitions", views.ObjectType.PartDefinition) {
<script src="@routes.Assets.at("javascripts/partdef/list.js")" type="text/javascript"></script>
} {
<h3>
	Part definitions
</h3>

<a href="@routes.PartDefinitions.add">new</a>

<table id="main_list">
    <thead>
		<tr>
		    <th>
		        ID
		    </th>
			<th>
				Name
			</th>
			<th>
				Filter
			</th>
			<th>
				Actions
			</th>
		</tr>
	</thead>
	<tbody>
		@for(pdef<-pdefs) {
			<tr>
			    <td>
			        @pdef.id
			    </td>
				<td>
					@pdef.name
				</td>
				<td>
					@pdef.filter
				</td>
				<td>
					<a href="@routes.PartDefinitions.edit(pdef.id)">edit</a>
				</td>
			</tr>
		}
	</tbody>
</table>

}
