@(pdefs:Seq[models.partdef.PartDefinitionForList])

@main("Part definitions", views.ObjectType.PartDefinition) {
@helper.requireJs(core = routes.Assets.at("javascripts/require-jquery.js").url, 
    module = routes.Assets.at("javascripts/partdef_list.js").url)
} {
<h3>
	Part definitions
</h3>
<a class="btn btn-success" href="@routes.PartDefinitions.add">New</a>

<table id="main_list">
    <thead>
		<tr>
		    <th>
				Name
			</th>
			<th>
				Filter
			</th>
			<th>
				Actions
			</th>
		</tr>
	</thead>
	<tbody>
		@for(pdef<-pdefs) {
			<tr>
			    <td>
					@pdef.name
				</td>
				<td>
					@pdef.filter
				</td>
				<td>
					<a class="btn" href="@routes.PartDefinitions.edit(pdef.id)">Edit</a>
					<a class="btn hide_partdef" href="#" data-id="@pdef.id">Hide</a>
				</td>
			</tr>
		}
	</tbody>
</table>

@views.html.modalConfirm("confirm-modal")

}
