@(frm:Form[models.partdef.PartDefinitionDesc], replyTo:Call, header:String)

@import views.HorizontalForm._

@main("Part definitions", views.ObjectType.PartDefinition) {
} {

<h3>
  @header part definition
</h3>

@helper.form(action = replyTo, 'class -> "form-horizontal") {
    <fieldset class="control-group">
	    @helper.inputText(frm("name"), '_label -> "Name")
	    @helper.inputText(frm("filter"), '_label -> "Filter")
	    @tempFileInput(frm("file"), '_label -> "File")
	</fieldset>
    <div class="form-actions">
	  <input type="submit" value="Submit" class="btn btn-primary" />
      <a class="btn" href="@routes.PartDefinitions.list" >Cancel</a>
    </div>
}

}
