@(frm:Form[models.partdef.PartDefinitionDesc], replyTo:Call, header:String)

@import helper.twitterBootstrap._

@main("Part definitions", views.ObjectType.PartDefinition) {

<h3>
  @header part definition
</h3>

@helper.form(action = replyTo) {
    <fieldset>
	    @helper.inputText(frm("name"), '_label -> "Name")
	    @helper.inputText(frm("filter"), '_label -> "Filter")
	    @tempFileInput(frm("file"), '_label -> "File")
	</fieldset>

	<input type="submit" value="Submit" class="btn btn-success btn-large" />
}

}
