@(frm:Form[models.cutplan.CuttingPlanDesc], replyTo:Call, header:String)

@pdefInput(fld:Field, cls:String) = {
    <div class="@cls">
        @helper.inputText(fld("partdefid"))
        @helper.inputText(fld("count"))
        <a class="removePartDef">remove</a>
    </div>
}

@main("Cutting plans", views.ObjectType.CuttingPlan) {
} {

    <h3>
      @header cutting plan
    </h3>
    
	@helper.form(action = replyTo) {
		@helper.inputText(frm("name"))
		@helper.inputText(frm("filter"))
		@*@tempFileInput(frm("file"))*@
		
		<h4>Part definitions</h4>
		@helper.repeat(frm("partdefs"), 0) { pdef =>
			@pdefInput(pdef, "partdef")
		}
		
	    @pdefInput(frm("partdefs[x]"), "partDefTemplate hidden")
	    <br />
        <a class="addButton" >Add part definition</a>
        <br />
	    
	   	<input type="submit" value="Submit" />
	   	<script type="text/javascript" src="@{routes.Assets.at("javascripts/cuttingPlanForm.js")}" ></script>
	}

}
