@(cps:Seq[models.cutplan.CuttingPlanForList])

@main("Cutting plans", views.ObjectType.CuttingPlan) {
@helper.requireJs(core = routes.Assets.at("javascripts/require-jquery.js").url, 
    module = routes.Assets.at("javascripts/cutplan_list.js").url)
} {

<h3>
	Cutting plans
</h3>

<a class="btn btn-success" href="@routes.CuttingPlans.add">New</a>

<table id="main_list">
    <thead>
		<tr>
			<th>
				Name
			</th>
			<th>
				Filter
			</th>
			<th>
				Actions
			</th>
		</tr>
	</thead>
	<tbody>
		@for(cp<-cps) {
			<tr>
				<td>
					@cp.name
				</td>
				<td>
					@cp.filter
				</td>
				<td>
					<a class="btn" href="@routes.CuttingPlans.edit(cp.id)">Edit</a>
                    <a class="btn add_cutting" href="@routes.CuttingController.addWithCP(cp.id)">Create cutting</a>
                    <a class="btn hide_cutplan" href="#" data-id="@cp.id">Hide</a>
				</td>
			</tr>
		}
	</tbody>
</table>

@modalDiv("Choose semiproduct", "semiprod-modal", "semiprod-modal-content")
@views.html.modalConfirm("confirm-modal")

}
