@(frm:Form[models.order.OrderDesc], replyTo:Call, header:String)

@import views.HorizontalForm._

@main("Order", views.ObjectType.Order) {
@helper.requireJs(core = routes.Assets.at("javascripts/require-jquery.js").url, 
    module = routes.Assets.at("javascripts/order_form.js").url)
} {
    <h3>
      @header order
    </h3>
    
    @views.html.validationSummary(frm)
    
	@helper.form(action = replyTo, 'class -> "form-horizontal") {
		@helper.inputText(frm("name"), '_label -> "Name")
		@helper.inputDate(frm("filling_date"), '_label -> "Filling date")
		@helper.inputDate(frm("due_date"), '_label -> "Due date")
		
		<h4>Part definitions</h4>
        @repeatingHelper(frm.apply _, "odefs", "Add part definition", "od_handle") { (fld, remove) =>
		  <div class="well">
              @views.html.partdef.pdefInput(fld("pdefid"), "partdef_input")
              @helper.inputText(fld("count"), '_label -> "Count")
              @helper.inputText(fld("filter"), '_label -> "Filter")
              <input type="hidden" id="@{fld("id").id}" name="@{fld("id").name}" value="@{fld("id").value}" />
	          @horizontalInput(remove)
          </div>
		}
        <div class="form-actions" >
	  	  <input class="btn btn-primary" type="submit" value="Submit" />
          <a class="btn" href="@routes.OrderController.list()">Cancel</a>
        </div>
	  	
	}
    @modalDiv("Choose part definition", "pdef_modal", "pdef_modal_content")
}
