@(sps:Seq[models.semiproduct.PackForList])
@main("Pack list", views.ObjectType.Semiproduct) {
@helper.requireJs(core = routes.Assets.at("javascripts/require-jquery.js").url, 
    module = routes.Assets.at("javascripts/semiproduct_list.js").url)
} {
<h3>
	Pack list
</h3>
<div>
    <a class="btn btn-success" href="@routes.Semiproducts.add">New</a>
</div>
<div class="top-margin">
	<table id="main_list">
	  <thead>
		<tr>
			<th>
				Heat no.
			</th>
			<th>
				Unlimited
			</th>
			<th>
				Material
			</th>
			<th>
				Shape
			</th>
			<th>
				Actions
			</th>
		</tr>
	  </thead>
	  <tbody>
		@for(sp <- sps) {
			<tr>
				<td>
					@sp.heatNo
				</td>
				<td>
					@sp.unlimited
				</td>
				<td>
					@sp.material.name
				</td>
				<td>
					@sp.shape.description
				</td>
				<td>
					<a class="btn" href="@routes.Semiproducts.edit(sp.id)">Edit</a>
                    <a class="btn" data-pack-id="@sp.id">Semiproducts</a>
				</td>
			</tr>
		}
	  </tbody>
	</table>
</div>

@modalDiv("Semiproduct list", "sp_div", "sp_content_div")
}
