@(sps:Seq[models.semiproduct.PackForList])
@main("Pack list", views.ObjectType.Semiproduct) {
<h3>
	Pack list
</h3>

<a href="@routes.Semiproducts.add">new</a>

<table>
	<tr>
		<th>
			ID
		</th>
		<th>
			heat no
		</th>
		<th>
			unlimited
		</th>
		<th>
			material
		</th>
		<th>
			shape
		</th>
		<th>
			actions
		</th>
	</tr>
	@for(sp <- sps) {
		<tr>
			<td>
				@sp.id
			</td>
			<td>
				@sp.heatNo
			</td>
			<td>
				@sp.unlimited
			</td>
			<td>
				@sp.material
			</td>
			<td>
				@sp.shape
			</td>
			<td>
				<a href="@routes.Semiproducts.edit(sp.id)">edit</a>
                <a href="@routes.Semiproducts.listSemiproducts(sp.id)">semiproducts</a>
			</td>
		</tr>
	}
</table>

}
