@(sps:Seq[models.semiproduct.PackForList])

<table>
  <thead>
    <tr>
	  <th>
		Heat no.
	  </th>
	  <th>
		Unlimited
	  </th>
	  <th>
		Material
	  </th>
	  <th>
		Shape
	  </th>
	  <th>
	  </th>
    </tr>
  </thead>
  <tbody>
    @for(sp <- sps) {
	  <tr>
		<td>
		  @sp.heatNo
		</td>
		<td>
		  @sp.unlimited
		</td>
		<td>
		  @sp.material.name
		</td>
		<td>
		  @sp.shape.description
		</td>
		<td>
		  <div class="btn-group sp-action-div">
		      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" 
		          data-pack-id="@sp.id" data-desc="@sp.description">Select</a>
		      <ul class="dropdown-menu" role="menu">
		      </ul>
		  </div>
		</td>
      </tr>
    }
  </tbody>
</table>

