@(sps:Seq[models.semiproduct.PackForList])

<table>
  <thead>
    <tr>
	  <th>
		Heat no.
	  </th>
	  <th>
		Unlimited
	  </th>
	  <th>
		Material
	  </th>
	  <th>
		Shape
	  </th>
    </tr>
  </thead>
  <tbody>
    @for(sp <- sps) {
	  <tr data-pack-id="@sp.id" data-description="@sp.description">
		<td>
		  @sp.heatNo
		</td>
		<td>
		  @sp.unlimited
		</td>
		<td>
		  @sp.material.name
		</td>
		<td>
		  @sp.shape.description
		</td>
      </tr>
    }
  </tbody>
</table>

<div id="sel-list-modal" class="hide modal fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Pick semiproduct</h3>
  </div>
  <div id="sel-list-modal-content">
  </div>
</div>
