@(cpid:Option[Int])(frm:Form[models.cutting.CuttingDesc], replyTo:Call, header:String)

@import views.HorizontalForm._

@main("Cutting", views.ObjectType.Cutting) {
@helper.requireJs(core = routes.Assets.at("javascripts/require-jquery.js").url, 
    module = routes.Assets.at("javascripts/cutting_form.js").url)
} {
<h3>
  @header cutting
</h3>
@helper.form(action = replyTo, 'class -> "form-horizontal") {
	
	@helper.input(frm("cutting_plan"), '_label -> "Cutting plan", '_showConstraints -> false) { (id, name, value, htmlArgs) =>
        <input type="hidden" class="cutplan-id" id="@id" name="@name" value="@{cpid.map(_.toString).getOrElse(value)}" @toHtmlArgs(htmlArgs) />
        <div class="uneditable-input cutplan-desc">
        </div>
    }
	
	<h4>Parts</h4>
    @repeatingHelper(frm.apply, "parts", "Add part", "part_handle") { (part, remove) =>
        @helper.inputText(part("partdef"), '_label -> "Part definition")
        @helper.inputText(part("count"), '_label -> "Count")
        @helper.inputText(part("order_def"), '_label -> "Order")
        @horizontalInput(remove)
    }
    <h4>Semiproduct</h4>
    @helper.input(frm("semiproduct"), '_label -> "", '_showConstraints -> false) { (id, name, value, htmlArgs) =>
        <a class="btn" id="semiprod-button">Choose</a>
        <input type="hidden" class="semiprod-id" id="@id" name="@name" value="@value" @toHtmlArgs(htmlArgs) />
    }
    <div class="semiproduct-desc"></div>
    
    <div class="form-actions">
  	  <input class="btn btn-primary" type="submit" value="Submit" />
      <a class="btn" href="@routes.CuttingController.list()">Cancel</a>
    </div>
}

@modalDiv("Choose semiproduct", "modal-sp", "modal-sp-content")

}
