@(frm:Form[models.cutting.CuttingDesc], replyTo:Call, header:String)

@partInput(part:Field, cls:String) = {
    <div class="@cls">
        @helper.inputText(part("partdef"))
        @helper.inputText(part("count"))
        @helper.inputText(part("order_def"))
        <a class="removePart">remove</a>
    </div>
}

@main("Cutting", views.ObjectType.Cutting) {
<h3>
  @header cutting
</h3>
@helper.form(action = replyTo) {
	@helper.inputText(frm("semiproduct"))
	@helper.inputText(frm("cutting_plan"))
	
	<h4>Parts</h4>
	@helper.repeat(frm("parts"), 0) { part =>
		@partInput(part, "part")
	}
    
    @partInput(frm("parts[x]"), "partTemplate hidden")
    
    <br />
    <a class="addButton" >Add part</a>
    <br />
    
  	<input type="submit" value="Submit" />
  	@helper.requireJs(core = routes.Assets.at("javascripts/require.js").url, module = routes.Assets.at("javascripts/cuttingForm").url)
}

}
