@(cuts:Seq[models.cutting.CuttingForList])

@main("Cuttings", views.ObjectType.Cutting) {
@helper.requireJs(core = routes.Assets.at("javascripts/require-jquery.js").url, 
    module = routes.Assets.at("javascripts/cutting_list.js").url)
} {

<h3>
	Cuttings
</h3>

<table id="main_list">
  <thead>
	<tr>
		<th>
			Cutting plan name
		</th>
		<th>
			Semiproduct heat no
		</th>
		<th>
			Semiproduct serial no
		</th>
		<th>
			Semiproduct material
		</th>
		<th>
			Semiproduct shape
		</th>
		<th>
		    Finish time
		</th>
		<th>
			Actions
		</th>
	</tr>
  </thead>
  <tbody>
	@for(c<-cuts) {
		<tr>
			<td>
				@c.cutPlan.name
			</td>
			<td>
				@c.pack.heatNo
			</td>
			<td>
				@c.semiproductSerial
			</td>
			<td>
				@c.pack.material.name
			</td>
			<td>
				@c.pack.shape.description
			</td>
			<td>
			    @c.finishTime
			</td>
			<td>
			    @if(c.finished) {
				    <a class="btn" href="@routes.CuttingController.finish(c.id)">edit</a>
				} else {
				    <a class="btn" href="@routes.CuttingController.edit(c.id)">edit</a>
				    <a class="btn" href="@routes.CuttingController.finish(c.id)">finish</a>
				}
			</td>
		</tr>
	}
  </tbody>
</table>

}
