@(cuts:Seq[models.cutting.CuttingForList])

@main("Cuttings", views.ObjectType.Cutting) {
} {

<h3>
	Cuttings
</h3>

<a href="@routes.CuttingController.add">new</a>

<table>
	<tr>
		<th>
			Cutting plan name
		</th>
		<th>
			Semiproduct heat no
		</th>
		<th>
			Semiproduct serial no
		</th>
		<th>
			Semiproduct material
		</th>
		<th>
			Semiproduct shape
		</th>
		<th>
		    Finish time
		</th>
		<th>
			Actions
		</th>
	</tr>
	@for(c<-cuts) {
		<tr>
			<td>
				@c.cutPlan.name
			</td>
			<td>
				@c.pack.heatNo
			</td>
			<td>
				@c.semiproduct.serialNo
			</td>
			<td>
				@c.pack.material
			</td>
			<td>
				@c.pack.shape
			</td>
			<td>
			    @c.finishTime
			</td>
			<td>
			    @if(c.finished) {
				    <a href="@routes.CuttingController.finish(c.id)">edit</a>
                    <a href="@routes.CuttingController.listParts(c.id)">parts</a>
				} else {
				    <a href="@routes.CuttingController.edit(c.id)">edit</a>
				    <a href="@routes.CuttingController.finish(c.id)">finish</a>
				}
			</td>
		</tr>
	}
</table>

}
