@(title: String, objType:views.ObjectType.ObjectTypeEnum)(head:Html)(content: Html)

@isNav(obj:views.ObjectType.ObjectTypeEnum) = {
    @if(objType == obj) {
        active
    } else {
        
    }
}

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-responsive.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/jquery.dataTables.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/datepicker.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        @head
    </head>
    <body>        
	    <div class="container content">
	        <header class="header">
                <h1>CNC production management</h1>
            </header>
	    	<ul class="nav nav-tabs">
	            <li class="@isNav(views.ObjectType.Semiproduct)">
	                <a href="@routes.Semiproducts.list()">Semiproducts</a>
	            </li>
	            <li class="@isNav(views.ObjectType.PartDefinition)">
	                <a href="@routes.PartDefinitions.list()">Part definitions</a>
	            </li>
	            <li class="@isNav(views.ObjectType.CuttingPlan)">
	                <a href="@routes.CuttingPlans.list()">Cutting plan</a>
	            </li>
	            <li class="@isNav(views.ObjectType.Cutting)">
	                <a href="@routes.CuttingController.list()">Cuttings</a>
	            </li>
	            <li class="@isNav(views.ObjectType.Order)">
	                <a href="@routes.OrderController.list()">Order</a>
	            </li>
	        </ul>
	        <div class="content-body" >
	           @content
	        </div>
        </div>
    </body>
</html>
