@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>
    	<h1>CNC production management</h1>
        <a href="@routes.Semiproducts.list">Semiproducts</a>
        <a href="@routes.PartDefinitions.list">Part definitions</a>
        <a href="@routes.CuttingPlans.list">Cutting plan</a>
        <a href="@routes.CuttingController.list">Cuttings</a>
        <a href="@routes.OrderController.list">Order</a>
        @content
    </body>
</html>
