@(frm:Form[(models.semiproduct.PackDesc, List[models.WithID[models.semiproduct.SemiproductDesc]])], replyTo:Call)

@helper.form(action = replyTo) {
	@helper.inputText(frm("pack.heat"))
	@helper.inputDate(frm("pack.delivery"))
	@helper.checkbox(frm("pack.unlimited"))
	@helper.inputText(frm("pack.material.material"))
	@helper.inputText(frm("pack.type"))
	@helper.inputText(frm("pack.sheet.thickness"))
	@helper.inputText(frm("pack.sheet.width"))
	@helper.inputText(frm("pack.sheet.height"))
	@helper.inputText(frm("pack.circ.thickness"))
	@helper.inputText(frm("pack.circ.radius"))
	@helper.inputText(frm("pack.circ.length"))
	@helper.inputText(frm("pack.square.thickness"))
	@helper.inputText(frm("pack.square.diameter"))
	@helper.inputText(frm("pack.square.length"))
	
	<h4>Semiproducts</h4>
		@helper.repeat(frm("semiproducts")) { sp =>
			@helper.inputText(sp("serial"))
			@defining(sp("id")) { field =>
				<input type="hidden" id="@field.id" name="@field.name" value="@field.value" />
			}
		}

	<input type="submit" value="Submit" />
}