@(field: play.api.data.Field, handle:String, args: (Symbol,Any)*)(implicit handler: helper.FieldConstructor, lang: play.api.i18n.Lang)

@helper.input(field, args:_*) { (id, name, value, htmlArgs) =>
    <input type="hidden" id="@id" class="@{handle+"_hf"}" name="@name" value="@value" />
    <input class="hide @{handle+"_file"}" type="file" id="@{id+"_file"}" @toHtmlArgs(htmlArgs) />
    
    <a id="@{id+"_a"}" class="@{handle+"_down"}" href='@routes.TemporaryFileManager.download(value.getOrElse(""))'>Download</a>
    <a id="@{id+"_ch"}" class="btn btn-small btn-danger @{handle+"_change"}" >Change</a>
    <a id="@{id+"_cho"}" class="btn btn-small btn-inverse @{handle+"_choose"}" >Choose</a>
}(handler, lang)
